@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');@tailwind base;

@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', sans-serif;
}

 

a{
    color: white;
}

 
.shadow-none
{
   box-shadow: 10px 10px transparent;

}
input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent !important;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 20px;
    height: 20px;
    
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: #1bb394 !important;
    border: 2px solid #1bb394;
    padding: 3px;
  }
  